<div class="container">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 designauteur">
            <div class="card">
                <h5 class="card-header" style="text-align: center">Formulaire de mise à jour d'un auteur</h5>
                    <div class="card-body">
                            <form [formGroup]= "auteurForm" id="basicform" (ngSubmit) = "update()">
                                <div class="form-group">
                                    
                                    <label for="inputNomAuteur">Nom de l'auteur</label>
                                    <input id="nom " type="text" formControlName="nom" placeholder="entrer le nom" autocomplete="off" class="form-control" [ngClass]="{ 'is-invalid': submitted && fauteur.nom.errors }">
                                    <div *ngIf="submitted && fauteur.nom.errors" class="invalid-feedback">
                                        <div *ngIf="fauteur.nom.errors.required">Author name is required</div>
                                        <div *ngIf="fauteur.nom.errors.minlengt">Author name must be at least 4 characters long</div>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label for="inputPrenomAuteur">Prenom de l'auteur</label>
                                    <input id="prenomAuteur " type="text" formControlName="prenomAuteur" placeholder="entrer le prenom" autocomplete="off" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prenomAuteur.errors }">
                                    <div *ngIf="submitted && f.prenomAuteur.errors" class="invalid-feedback">
                                        <div *ngIf="f.prenomAuteur.errors.required">Author surname is required</div>
                                    </div>
                                 </div> -->
                                 <p class="text-right">
                                    <button type = "submit" class="btn btn-space btn-primary" style="margin-right: 62%;">Valider</button>
                                    <button routerLink="/auteurs/liste-auteur" class="btn btn-space btn-secondary" >Annuler</button>
                                 </p>
                            </form>
                        </div>
                    </div>
            </div>
        </div>