<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 designcategorie">
        <div class="card">
            <h5 class="card-header" style="text-align:center">Liste des catégories</h5>
                <div class="card-body">
                    <nav class="navbar navbar-default navbar-inverse col-md-8 col-md-offset-5" >
                        <div class="form-group ">
                            <input type="text" [(ngModel)]="search" class="form-control" placeholder="Search Here">
                        </div> 
                        <div class= "button"> 
                            <button style="margin-left: 10px;" type="button" pButton label="AJOUTER CATEGORIE" data-toggle="modal"
                            data-target="#myModal" class="btn btn-space btn-primary"> AJOUTER</button>
                          </div>
                    </nav>
                <div class="table-responsive">
                <table class="table table-striped table-bordered first col text-center">
                    <thead>
                        <tr>
                        <th>Nom de la catégorie</th>
                    <!--<th>Prenom de l'auteur</th>-->
                        <th>Modification</th>
                        <th>Suppression</th>
                        <th>Liste des livres</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let c of category | filter:search |paginate: {
                        id: 'listing_pagination',
                        itemsPerPage: 10,
                        currentPage: page,
                        totalItems: totalrecords
                        }">
                        <td>{{ c.name }}</td>  
                        <td><button class= "btn btn-succes" routerLink="/categories/modifier-categorie/{{c.id}}"> <i class="fa fa-edit" ></i></button> </td>
                        <td><button (click) = "delete(c.id)" class  ="btn btn-danger"> <i class="fa fa-trash"> </i></button></td>
                        <td><button class  ="btn btn-succes" routerLink="/livres/liste-livre"> <i class="fa fa-book"> </i></button></td>
                        </tr>
                    </tbody>
                </table>
            <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page =$event"></pagination-controls>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="card-header" style="text-align: center">Formulaire de creation d'une categorie</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body"> 
                <div class="card">
                        <div class="card-body">
                            <form [formGroup]= "categorieForm" id="basicform" (ngSubmit) = "create()">
                                <div class="form-group">
                                    <label for="inputName">Nom de la catégorie</label>
                                    <input id="name " type="text" formControlName="name" placeholder="entrer le nom .." autocomplete="off" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">Category name is required</div>
                                    </div>
                                </div>
                                <p>
                                    <button type = "submit" class="btn btn-space btn-primary" style="margin-right: 62%;">Valider</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                                </p>
                            </form>
                        </div>
                </div>
            </div>