<!-- 
    <div class="container-fluid">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 designlivre">
            <div class="card">
                <h5 class="card-header" style="text-align: center">Formulaire de creation d'un livre</h5>
                    <div class="card-body">
                        <form [formGroup]= "livreForm" id="basicform" (ngSubmit) = "create()">
                            <div class="form-group">
                                <label for="inputNomAuteur">Nom de l'auteur</label>
                                <input id="nomAuteur " type="text" formControlName="nomAuteur" placeholder="entrer le nom" autocomplete="off" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nomAuteur.errors }">
                                <div *ngIf="submitted && f.nomAuteur.errors" class="invalid-feedback">
                                    <div *ngIf="f.nomAuteur.errors.required">Entrer le nom de l'auteur</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row ">
                                    <div class="col-lg-6">
                                    <div class="form-group ">
                                        <label for="inputTitre">Titre du livre</label>
                                        <input id="titre " type="text" formControlName="titre" placeholder="entrer le titre" autocomplete="off" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.titre.errors }">
                                        <div *ngIf="submitted && f.titre.errors" class="invalid-feedback">
                                            <div *ngIf="f.titre.errors.required">Entrer le titre</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEdition">Maison d'edition</label>
                                        <input id="edition " type="text" formControlName="edition" placeholder="entrer l'edition" autocomplete="off" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.edition.errors }">
                                        <div *ngIf="submitted && f.edition.errors" class="invalid-feedback">
                                            <div *ngIf="f.edition.errors.required">Entrer la maison d'édition</div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="inputImage" style="text-align:center;  margin: auto">Image</label>
                                        <img class="img-circle" src="../../assets/img/livre4.jpeg" alt="livre" style="max-height:120px">
                                        
                                        <form action="">
                                            <input type="file" style="width:100%">
                                            <input class="" type="submit" value="browse"  [ngClass]="{ 'is-invalid': submitted && f.image.errors }">
                                            <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
                                                <div *ngIf="f.image.errors.required">Entrer l'image</div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="btn btn-outline-secondary" for="inputGroupSelect02">Categorie</label>
                                    </div>
                                    <select class="custom-select" id="inputGroupSelect02" [ngClass]="{ 'is-invalid': submitted && f.Cat.errors }">
                                        <option selected>Choose...</option>
                                        <option value="1">INFORMATIQUE</option>
                                        <option value="2">AGRICULTURE</option>
                                        <option value="3">ECONOMIE</option>
                                    </select>
                                </div>
                                <div *ngIf="submitted && f.Cat.errors" class="invalid-feedback">
                                        <div *ngIf="f.Cat.errors.required">Entrer la catégorie</div>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAnneeParution" >Année de parution</label>
                                <input id="anneeParution" type="date" class="form-control" formControlName="anneeParution" placeholder="entrer l'année de parution" autocomplete="off" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.anneeParution.errors }">
                                <div *ngIf="submitted && f.anneeParution.errors" class="invalid-feedback">
                                    <div *ngIf="f.anneeParution.errors.required">Entrer l'année</div>
                                </div>
                            </div>
                            <p class="text-right">
                                <button type = "submit" class="btn btn-space btn-primary" routerLink="/livres/liste-livre">Valider</button>
                                <button routerLink="/livres/liste-livre" class="btn btn-space btn-secondary">Annuler</button>
                            </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
         -->