
    <div class="container-fluid">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 designlivre">
            <div class="card">
                <h5 class="card-header" style="text-align: center">Formulaire de mise à jour d'un livre</h5>
                <div class="card-body">
                    <form [formGroup]= "livreForm" id="basicform" (ngSubmit) = "update()">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="btn btn-outline-secondary" for="inputGroupSelect02"> Auteur </label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect02"  formControlName="auteur">
                                    <option selected *ngFor="let a of auteurs">{{a.nom}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row ">
                                <div class="col-lg-6">
                                <div class="form-group ">
                                    <label for="inputTitre">Titre du livre</label>
                                    <input id="titre " type="text" formControlName="titre" placeholder="entrer le titre" autocomplete="off" class="form-control" [ngClass]="{ 'is-invalid': submitted && flivre.titre.errors }">
                                    <div *ngIf="submitted && flivre.titre.errors" class="invalid-feedback">
                                        <div *ngIf="flivre.titre.errors.required">Entrer le titre</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEdition">Maison d'edition</label>
                                    <input id="edition " type="text" formControlName="maisonEdition" placeholder="entrer l'edition" autocomplete="off" class="form-control" [ngClass]="{ 'is-invalid': submitted && flivre.maisonEdition.errors }">
                                    <div *ngIf="submitted && flivre.maisonEdition.errors" class="invalid-feedback">
                                        <div *ngIf="flivre.maisonEdition.errors.required">Entrer la maison d'édition</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputCote">Cote</label>
                                    <input id="cote " type="text" formControlName="cote" placeholder="entrer la cote" autocomplete="off" class="form-control" [ngClass]="{ 'is-invalid': submitted && flivre.cote.errors }">
                                    <div *ngIf="submitted && flivre.cote.errors" class="invalid-feedback">
                                        <div *ngIf="flivre.cote.errors.required">Entrer la cote</div>
                                    </div>
                                </div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="inputImage" style="text-align:center;  margin: auto">Image</label>
                                        <img id="myImage" class="img-circle" [src]="imageUrl" alt="livre" style="max-height:120px">
                                        <input id="zoneImage" type="file"  formControlName="image" style="width:100%">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="btn btn-outline-secondary" for="inputGroupSelect02">Categorie</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect02"  formControlName="categorie">
                                    <option selected *ngFor="let c of categories">{{c.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAnneeParution" >Année de parution</label>
                            <input id="anneeParution" type="date" class="form-control" formControlName="anneeParution" placeholder="entrer l'année de parution" autocomplete="off" class="form-control" [ngClass]="{ 'is-invalid': submitted && flivre.anneeParution.errors }">
                            <div *ngIf="submitted && flivre.anneeParution.errors" class="invalid-feedback">
                                <div *ngIf="flivre.anneeParution.errors.required">Entrer l'année</div>
                            </div>
                        </div>
                        <p>
                            <button type = "submit" class="btn btn-space btn-primary" style="margin-right: 62%;">Valider</button>
                            <button type="button" class="btn btn-danger" routerLink = "/livres/liste-livre">Annuler</button>
                        </p>
                </form>
            </div>
            </div>
        </div>
    </div>
    
        