
<div class="row" style="background-image: url('../../assets/reading-925589__340.webp');">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 designliste">
        <div class="card">
            <h5 class="card-header" style="text-align:center">Liste des auteurs</h5>
                <div class="card-body">
                    <nav class="navbar navbar-default navbar-inverse col-md-8 col-md-offset-5" >
                        <div class="form-group ">
                            <input type="text" [(ngModel)]="search" class="form-control" placeholder="Search Here">
                        </div>
                        <div class="button">
                            <button style="margin-left: 10px;" type="button" pButton label="AJOUTER AUTEUR" data-toggle="modal"
                                     data-target="#myModal" class="btn btn-space btn-primary">AJOUTER</button>
                        </div> 
                    </nav>
                <div class="table-responsive">
                <table class="table table-striped table-bordered first col text-center">
                    <thead>
                        <tr>
                            <th>Nom de l'auteur</th>
                        <!--<th>Prenom de l'auteur</th>-->
                            <th>Modification</th>
                            <th>Suppression</th>
                            </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let a of author | filter:search |paginate: {
                        id: 'listing_pagination',
                        itemsPerPage: 10,
                        currentPage: page,
                        totalItems: totalrecords
                        }" >
                        <td>{{ a.nom }}</td>
                        <!--<td>{{ a.prenom }}</td>-->
                        <td><button class= "btn btn-succes" routerLink="/auteurs/modifier-auteur/{{a.id}}"> <i class="fa fa-edit"></i></button> </td>
                        <td><button (click) = "delete(a.id)" class  ="btn btn-danger"> <i class="fa fa-trash"> </i></button></td>
                        </tr>
                    </tbody>
                </table>
            <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page =$event"></pagination-controls>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="card-header" style="text-align: center">Formulaire de creation d'une auteur</h5>
            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          </div>
          <div class="modal-body"> 
                <div class="card">
                        <div class="card-body">
                            <form [formGroup]= "auteurForm" id="basicform" (ngSubmit) = "create()">
                                <div class="form-group">
                                    <label for="inputNom">Nom de l'auteur</label>
                                    <input id="nom " type="text" formControlName="nom" placeholder="entrer le nom .." autocomplete="off" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }">
                                    <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                                        <div *ngIf="f.nom.errors.required">Author name is required</div>
                                    </div>
                                </div>
                                <p>
                                    <button type = "submit" class="btn btn-space btn-primary" style="margin-right: 62%;">Valider</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                                </p>
                            </form>
                        </div>
                </div>
            </div>