<!-- <div class="container-fluid">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 designcategory">
        <div class="card">
            <h5 class="card-header" style="text-align: center">Formulaire de creation d'une categorie</h5>
                <div class="card-body">
                    <form [formGroup]= "categorieForm" id="basicform" (ngSubmit) = "create()">
                        <div class="form-group">
                            <label for="inputNom">Nom de l'auteur</label>
                            <input id="nom " type="text" formControlName="nom" placeholder="entrer le nom.." autocomplete="off" class="form-control" [ngClass]="{ 'is-invalid': submitted && fcategorie.nom.errors }">
                            <div *ngIf="submitted && fcategorie.nom.errors" class="invalid-feedback">
                                <div *ngIf="fcategorie.nom.errors.required">Category name is required</div>
                            </div>
                        </div>
                        
                        <p class="text-right">
                            <button type = "submit" class="btn btn-space btn-primary">Valider</button>
                            <button routerLink="/categories/liste-categorie" class="btn btn-space btn-secondary">Annuler</button>
                        </p>
                    </form>
                </div>
        </div>
    </div>
</div> -->