
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 designliste">
        <div class="card">
                <h5 class="card-header" style="text-align:center">Liste des livres
                        </h5>
            <div class="card-body">
        <nav class="navbar navbar-default navbar-inverse col-md-8 col-md-offset-5" > 
                <div class="form-group ">
                    <input type="text" [(ngModel)]="search" class="form-control" placeholder="Search Here">
                </div> 
                <div class= "button"> 
                  <button style="margin-left: 10px;" type="button" pButton label="AJOUTER LIVRE" data-toggle="modal"
                  data-target="#myModal" class="btn btn-space btn-primary"> AJOUTER</button>
                </div>
        </nav>
        <div class="table-responsive">
          <table class="table table-striped table-bordered first col text-center">
            <thead>
              <tr>
                <th>Nom de l'auteur</th>
                <th>Titre du livre</th>
                <th>Année de parution</th>
                <th>Categorie</th>
                <th>Maison d'édition</th>
                <th>Cote</th>
                <th>Livre</th>
                <th>Modification</th>
                <th>Suppression</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let b of book | filter:search |paginate: {
                id: 'listing_pagination',
                itemsPerPage: 10,
                currentPage: page,
                totalItems: totalrecords
              }">
                <td>{{ b.auteur.nom }}</td>
                <td>{{ b.titre }}</td>
                <td>{{ formatDate(b.anneeParution)}}</td>
                <td>{{ b.categorie.name }}</td>
                <td>{{ b.maisonEdition }}</td>
                <td>{{ b.cote }}</td>
                <td><img src="{{b.image}}" alt="livre" style="max-height:120px; width: 70px;"></td>
                <td><button class= "btn btn-success" routerLink="/livres/modifier-livre/{{b.id}}"> <i class="fa fa-edit  "></i></button> </td>
                <td><button (click) = "delete(b.id)" class  ="btn btn-danger"> <i class="fa fa-trash"> </i></button></td>
              </tr>
            </tbody>
        </table>
        <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page =$event"></pagination-controls>
    </div>
</div>

    </div>
</div>
<!-- /.container-fluid -->

</div> 
<div class="container-fluid">
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="card-header" style="text-align: center">Formulaire de creation d'une auteur</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body"> 
                <div class="card">
                        <div class="card-body">
                            <form [formGroup]= "livreForm" id="basicform" (ngSubmit) = "create()">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="btn btn-outline-secondary" for="inputGroupSelect02">Auteur</label>
                                        </div>
                                        <select class="custom-select"  formControlName="auteur" id="inputGroupSelect02">
                                            <option selected value="">-- Selectionnez --</option>
                                            <option *ngFor="let a of auteurs">{{a.nom}}</option>
                                            <!-- <option value="1">{{categorie}}</option> -->
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row ">
                                        <div class="col-lg-6">
                                        <div class="form-group ">
                                            <label for="inputTitre">Titre du livre</label>
                                            <input id="titre " type="text" formControlName="titre" placeholder="entrer le titre" autocomplete="off" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.titre.errors }">
                                            <div *ngIf="submitted && f.titre.errors" class="invalid-feedback">
                                                <div *ngIf="f.titre.errors.required">Entrer le titre</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEdition">Maison d'edition</label>
                                            <input id="edition " type="text" formControlName="maisonEdition" placeholder="entrer l'edition" autocomplete="off" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.maisonEdition.errors }">
                                            <div *ngIf="submitted && f.maisonEdition.errors" class="invalid-feedback">
                                                <div *ngIf="f.maisonEdition.errors.required">Entrer la maison d'édition</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputCote">Cote</label>
                                            <input id="cote " type="text" formControlName="cote" placeholder="entrer la cote" autocomplete="off" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cote.errors }">
                                            <div *ngIf="submitted && f.cote.errors" class="invalid-feedback">
                                                <div *ngIf="f.cote.errors.required">Entrer la cote</div>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="inputImage" style="text-align:center;  margin: auto">Image</label>
                                            <img id="myImage" class="img-circle" [src]="imageUrl" alt="livre" style="max-height:120px">
                                            <input id="zoneImage" type="file"  formControlName="image" style="width:100%">
    
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="btn btn-outline-secondary" for="inputGroupSelect02">Categorie</label>
                                        </div>
                                        <select class="custom-select"  formControlName="categorie" id="inputGroupSelect02">
                                            <option selected value="">-- Selectionnez --</option>
                                            <option *ngFor="let c of categories">{{c.name}}</option>
                                            <!-- <option value="1">{{categorie}}</option> -->
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAnneeParution" >Année de parution</label>
                                    <input id="anneeParution" type="date" class="form-control" formControlName="anneeParution" placeholder="entrer l'année de parution" autocomplete="off" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.anneeParution.errors }">
                                    <div *ngIf="submitted && f.anneeParution.errors" class="invalid-feedback">
                                        <div *ngIf="f.anneeParution.errors.required">Entrer l'année</div>
                                    </div>
                                </div>
                                <p class="text-right">
                                    <button type = "submit" class="btn btn-space btn-primary" style="margin-right: 62%;">Valider</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                                </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
