
<div class="row" style="height: 100%; width: 100%;"> 
  <div class="col-md-6" style="height: 100%;">
    <img src="../../assets/tof1.jpeg" width="60%" height="100%" style="position: fixed; top: 0px; bottom: 0px;">
    
      <button type="button" class="btn btn-outline-secondary" style="position: absolute ; top: 50px; left: 70%;" (click)="home()"> Started </button>
      <div class="card-body" style="position: absolute; top: 50px; left: 10%; text-align: center;">
        <nav class="nav-menu d-none d-lg-block">
          <marquee behavior="" direction="up" scrollamount ="2" height="200" width="350" style="text-align: center;">
            <p style="font-size: larger; color:black; background: rgb(255,255,255,.5);">
            L’ENSPM (Ex Institut Supérieur du Sahel) de l’Université de Maroua est un pôle d’Excellence polytechnique au service du développement local, national et sous-regional.
            Elle a pour missions spécifiques d’assurer : La formation et la recherche dans les domaines suivants : Agriculture, Elevage et Produits Dérivés, Energies Renouvelables, 
            Sciences Environnementales, Génie Civil et Architecture, Informatique et Télécommunications, Génie Textile et Cuir 
            Hydraulique et Maîtrise des Eaux, Météorologie, Climatologie, Hydrologie et Pédologie.
            </p>
            <!--  </marquee>
          <marquee behavior="40%" direction="up" scrollamount ="2" height="200" width="350" style="text-align: center;"> -->
            <p style="font-size: larger; color:black; background: rgb(255,255,255,.5);">
            La bibliothèque de l’ENSPM est ouverte à tous les étudiants et dispose des livres de multitudes de domaines parmi lesquel: information, agriculture, élévage et produits, 
            droit humanitaire, mathématiques, genie chimique, technologie textile et design, journaux et revue, etc...
            De ce fait, via ce catalogue, vous pouvez vous renseigner sur la présence d’un livre au sein de la bibliothèque ou que vous soyez.
            </p>
          </marquee>
        </nav>
      </div>
    </div> 
  <div class="col-md-6">
    <!-- <div class="splash-container"> -->
      <div class="card" style="position: fixed; top: 0; bottom: 0; right: 0; width: 40%;" >
            <div class="card-header text-width">
              <img class="logo-img" src="../../assets/logo.jpeg" alt="logo" />
                <h4 class="card-header" style="text-align: center;">CATALOGUE NUMERIQUE DE LA BIBLIOTHÈQUE</h4>
            </div>
            <div class="card-body">
            <form class="user">
              <div class="form-group">
                <input type="text" class="form-control" class="form-control form-control-user" id="exampleInputLogin" placeholder="Enter Username..." [ngClass]="{ 'is-invalid': submitted && flogin.username.errors }">
                <div *ngIf="submitted && flogin.username.errors" class="invalid-feedback">
                  <div *ngIf="flogin.username.errors.required">Username is required</div>
                  <div *ngIf="flogin.username.errors.minLength">Username is too short</div>
                </div>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" class="form-control form-control-user" id="exampleInputLogin" placeholder="Enter Password..." [ngClass]="{ 'is-invalid': submitted && flogin.password.errors }">
                <div *ngIf="submitted && flogin.password.errors" class="invalid-feedback">
                  <div *ngIf="flogin.password.errors.required">Password is required</div>
                  <div *ngIf="flogin.password.errors.minLength">Password is too short</div>
                  <div *ngIf="flogin.password.errors.pattern">Password is missing characters </div>
                </div>
              </div>
              <div class="form-group">
                <div class="custom-control custom-checkbox small">
                  <input type="checkbox" class="custom-control-input" id="customCheck">
                  <label class="custom-control-label" for="customCheck">Remember Me</label>
                </div>
              </div>
              <button (click) = "login()" type="button" class="btn btn-secondary">Login</button>
        
            <div class="text-center">
              <a class="small" >Forgot Password?</a>
            </div>
            </form>
          </div>
          <!-- <div class="card-body" style="position: absolute; top: 50px; left: 10%; text-align: center;">
            
            <div>
              <button class="btn btn-space btn-primary" routerLink= "/home"> Started </button>
            </div>
            <nav class="nav-menu d-none d-lg-block">
                <h3>{{ currentMessage }}</h3>
              </nav>
          </div> -->
          </div>
  <!-- </div> -->
  </div>
</div>

  <!--  -->

   

  