<div class="container">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 designauteur">
        <div class="card">
            <h5 class="card-header" style="text-align: center">Formulaire de mise à jour d'une categorie</h5>
                <div class="card-body">
                        <form [formGroup]= "categorieForm" id="basicform" (ngSubmit) = "update()">
                            <div class="form-group">
                                
                                <label for="inputName">Nom de la categorie</label>
                                <input id="name " type="text" formControlName="name" placeholder="entrer le nom" autocomplete="off" class="form-control" [ngClass]="{ 'is-invalid': submitted && fcategorie.name.errors }">
                                <div *ngIf="submitted && fcategorie.name.errors" class="invalid-feedback">
                                    <div *ngIf="fcategorie.name.errors.required">Category name is required</div>
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                <label for="inputPrenomAuteur">Prenom de l'auteur</label>
                                <input id="prenomAuteur " type="text" formControlName="prenomAuteur" placeholder="entrer le prenom" autocomplete="off" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prenomAuteur.errors }">
                                <div *ngIf="submitted && f.prenomAuteur.errors" class="invalid-feedback">
                                    <div *ngIf="f.prenomAuteur.errors.required">Author surname is required</div>
                                </div>
                             </div> -->
                             <p class="text-right">
                                <button type = "submit" class="btn btn-space btn-primary" style="margin-right: 62%;">Valider</button>
                                <button routerLink="/categories/liste-categorie" class="btn btn-space btn-secondary" >Annuler</button>
                             </p>
                        </form>
                    </div>
                </div>
        </div>
    </div>