
<div>
    <div style="height: 95%; width: 101%; padding: 0;">
      <div class="row" style="margin:0;">
        <img src="../../assets/tof1.jpeg" width="100%" height="100%" style="position: fixed; top: 0px; bottom: 0px; padding: 0; z-index: -15;">
      </div>
      <a class="nav-link justify-content-start" (click)= "returnHome()">
        <i class="fa fa-fw fa-home"></i>
        <span> Home </span>
      </a>
      <div class="row justify-content-center" style="background: rgb(255,255,255,.5); width: 100%; text-align: center;">

        <img id="logo-for-big"  src="../../assets/logo.jpeg" width="300" style="">
      
    </div>
      <br>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 designliste">
        <div class="card">
                <h5 class="card-header" style="text-align:center">Liste des livres
                        </h5>
            <div class="card-body">
        <nav class="navbar navbar-default navbar-inverse col-md-8 col-md-offset-5" > 
          <div class="form-group ">
              <input type="text" [(ngModel)]="search" class="form-control" placeholder="Search Here">
          </div> 
        </nav>
        <div class="table-responsive">
          <table class="table table-striped table-bordered first col text-center">
            <thead>
              <tr>
                <th>Nom de l'auteur</th>
                <th>Titre du livre</th>
                <th>Année de parution</th>
                <th>Maison d'édition</th>
                <th>Cote</th>
                <th>Livre</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let b of book | filter:search |paginate: {
                id: 'listing_pagination',
                itemsPerPage: 10,
                currentPage: page,
                totalItems: totalrecords
              }">
                <td>{{ b.auteur.nom }}</td>
                <td>{{ b.titre }}</td>
                <td>{{ formatDate(b.anneeParution)}}</td>
                <td>{{ b.maisonEdition }}</td>
                <td>{{ b.cote }}</td>
                <td><img src="{{b.image}}" alt="livre" style="max-height:120px; width: 75px;"></td>
              </tr>
            </tbody>
        </table>
        <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page =$event"></pagination-controls>
    </div>
</div>