
<div *ngIf="isConnect " class="dashboard-main-wrapper">
  <div id="wrapper" >
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
 
      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3"></div>
      </a>
 
      <!-- Divider -->
      <hr class="sidebar-divider my-0">
 
      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>MENU</span></a>
      </li>
 
      <!-- Divider -->
      <hr class="sidebar-divider">
 
      <!-- Heading -->
      <div class="sidebar-heading">
        Interface
      </div>
 
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item active">
        <a class="nav-link " routerLink = "auteurs/liste-auteur">
          <i class="fa fa-fw fa-user"></i>
          <span>Auteurs</span>
        </a>
      </li>
      <li class="nav-item active">
       <a class="nav-link " routerLink = "livres/liste-livre">
      <i class="fas fa-fw fa-book"></i>
         <span>Livres</span>
       </a>
     </li> 
 
     <li class="nav-item active">
       <a class="nav-link " routerLink = "categories/liste-categorie">
         <i class="fas fa-fw fa-folder"></i>
         <span>Categories</span>
       </a>
     </li>
   </ul>
    <!-- End of Sidebar -->
 
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
 
      <!-- Main Content -->
      <div id="content" style="background-image: url('../../assets/top-10-books-every-college-student-read-1024x640.jpeg');background-size: 100%;; background-repeat: no-repeat;">
 
        <!-- Topbar -->
         <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
           style="background-color:#f8f9fc;" >
 
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
 
          <!-- Topbar Search -->
          <div class="card-header text-width" style="background: none;">
             <img class="logo-img" style="max-height: 50px;" src="../../assets/logo.jpeg" alt="logo" />
           </div>
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
 
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
 
            <div class="topbar-divider d-none d-sm-block"></div>
 
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"> Admin@123</span>
                <img class="img-profile rounded-circle" src="">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="setIsConnect(false)" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
 
          </ul>
 
        </nav>
        <!-- End of Topbar -->
       <div>
        <router-outlet></router-outlet>
       </div>
      </div>
      <!-- End of Main Content -->
 
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>infotel &copy; H&A</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
 
    </div>
    <!-- End of Content Wrapper -->
   </div>
 
</div>

<app-login  *ngIf="!isConnect && offConnect === 1 " (gotoHome)="IsConnect(2)" (connect)="setIsConnect(true)"></app-login>
<app-home  *ngIf="!isConnect && offConnect === 2" (gotobiblio)="IsConnect(3)"  (gotoHome)="IsConnect(1)"></app-home>
<app-bibliotheque *ngIf="!isConnect && offConnect ===3" (gotoHome)="IsConnect(1)" (gotoreturn)="IsConnect(2)"></app-bibliotheque>

  

