<!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item" >
        <img class="d-block w-100" src="../../assets/img/tof1.jpg" alt="first slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/istockphoto-949118068-612x612.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/image5.jpeg" alt="Third slide">
      </div>
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../assets/img/image4.jpeg" alt="Fourth slide">
      </div>
    </div>

    <div class="card-body" style="position: absolute; top: 50px; left: 10%; text-align: center;">
      <button type="button" class="btn btn-space btn-primary" (click)= "biblio()"> Bibliothèque </button>
      <button type="button" class="btn btn-space btn-danger" (click)= "disConnect()"> Se connecter </button>
    
      
      <nav class="nav-menu d-none d-lg-block">
        <img src="" alt="">
          <h3>{{ currentMessage }}</h3>
        </nav>
    </div>
    
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div> -->

  <div>
    <div style="height: 95%; width: 101%; padding: 0;">
      <div class="row" style="margin:0;">
        <img src="../../assets/tof1.jpeg" width="100%" height="100%" style="position: fixed; top: 0px; bottom: 0px; padding: 0; z-index: -15;">
      </div>
      <br>
      <div class="row justify-content-center" style="padding: 0; margin: 0;">
            <a class="nav-link " (click)= "biblio()">
              <i class="fa fa-fw fa-book"></i>
              <span> Bibliothèque </span>
            </a>
            <a class="nav-link " (click)= "disConnect()">
              <i class="fa fa-fw fa-unlock"></i>
              <span> Se connecter </span>
            </a>
      </div>
      <br>
      <div class="row justify-content-center" style="background: rgb(255,255,255,.5); width: 100%; text-align: center;">

          <img id="logo-for-big"  src="../../assets/logo.jpeg" width="300" style="">
        
      </div>
      <br>
      <br>
      <div class="row justify-content-center">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="13"></li>
          </ol>
          <div class="carousel-inner row">
            <div class="carousel-item" >
              <img  src="../../assets/img/livre4.jpeg" width="400px" height="250px">
            </div>
            <div class="carousel-item">
              <img  src="../../assets/img/livre3.jpeg" width="400px" height="250px">
            </div>
            <div class="carousel-item">
              <img src="../../assets/img/image5.jpeg" width="400px" height="250px" >
            </div>
            <div class="carousel-item   ">
              <img src="../../assets/img/image4.jpeg" width="400px" height="250px" >
            </div>
            <div class="carousel-item">
              <img src="../../assets/img/image12.jpeg" width="400px" height="250px" >
            </div>
            <div class="carousel-item">
              <img src="../../assets/img/image11.jpeg" width="400px" height="250px" >
            </div>
            <div class="carousel-item">
              <img src="../../assets/img/image7.jpeg" width="400px" height="250px" >
            </div>
            <div class="carousel-item ">
              <img src="../../assets/img/image8.jpeg" width="400px" height="250px" >
            </div>
            <div class="carousel-item">
              <img src="../../assets/img/image13.jpeg" width="400px" height="250px" >
            </div>
            <div class="carousel-item ">
              <img src="../../assets/img/image14.jpeg" width="400px" height="250px" >
            </div>
            <div class="carousel-item">
              <img src="../../assets/img/image6.jpeg" width="400px" height="250px" >
            </div>
            <div class="carousel-item ">
              <img src="../../assets/img/image7.jpeg" width="400px" height="250px" >
            </div>
            <div class="carousel-item">
              <img src="../../assets/img/image9.jpeg" width="400px" height="250px" >
            </div>
            <div class="carousel-item active">
              <img src="../../assets/img/image8.jpeg" width="400px" height="250px" >
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>